@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body{
  background:#020617;
  overflow-x:hidden;
}

.glow{
  position:absolute;
  width:500px;
  height:500px;
  background:radial-gradient(circle,#2563eb40,transparent);
  filter:blur(120px);
}

.input {
  padding: 10px 14px;
  background: #020617;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 8px;
  color: white;
  outline: none;
}

